<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>iTrip</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
                
        </head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Welcome <span>to iTrip</span></a></div>
				<a href="#menu">Menu</a>
                               
			</header>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
                                        <li><a href="googlemap.html">Start your iTrip</a></li>			
					<li><a href="yelp.html">Yelp coming soon...</a></li>
                                        <li><a href="collection.html">My collections</a></li>
                                        <li><a href="admin.html">Admin Only</a></li>
                                        <li><a href="itriphomepage.html">Checkpoint1</a></li>
                                        <li><a href="http://localhost:8080/address" target="_blank">Contact Us Now!</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/slide01.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Welcome to iTrip, enjoy your time and make your own trip <a href="https://templated.co"></a></p>
							<h2>iTrip</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide02.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Find the place wherever you are interested in...</p>
							<h2>Place</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide03.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Find the food whatever you love to eat...</p>
							<h2>Food</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide04.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Find the activities whatever you want to enjoy</p>
							<h2>Activity</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide05.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Make and design your personal trip plan...</p>
							<h2>Plan</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/gmap.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Technology that used</p>
										<h2>Google Map API</h2>
									</header>
									<p> I am using the Google Map API to provide some functions and service to the users. More functions are developing and will be added to iTrip soon.</p>
									<footer class="align-center">
                                                                            <a><button onclick="location='googlemap.html'" >Try it</button></a>
                                                                                
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/yelp2.png" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Technology will be added</p>
										<h2>Yelp API</h2>
									</header>
									<p> Since the security problem, Yelp are not providing Java Script API, but I'm looking for some solutions and trying to develop PHP and add yelp api into iTrip.</p>
									<footer class="align-center">
										<a><button onclick="location='yelp.html'" >Coming Soon</button></a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Life is too short to take a boring trip.</p>
						<h2>Start your iTrip NOW</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Love these photos? Start your trip and take your own.</p>
						<h2>Some fancy photos</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="images/pic1.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/pic2.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/pic3.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/pic4.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>