<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Address</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>iTrip Log in</h1>
  <p>This is the Login Page</p>
    <form class="row">
			<div class="form-group col-md-6">
				User Name: <input name="name" type="text" placeholder="Ur Name" class="form-control"/>
			</div>
			<div class="form-group col-md-12">
							</div>
			<div class="form-group col-md-12">
                            Password:<input name="password" type="password" placeholder="Ur password" class="form-control" />
                            
			</div>
			<div class="form-group col-md-12">
                            <input type='submit' value='Submit'/><br/>
			</div>
		</form>
</body>
</html>